.section {
    position: relative;
}

.Bottle {
    position: absolute;
    bottom: 01%;
    left: 6%;
    z-index: -1;
    opacity: .95;
}

.Burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .95;
}

.Plate {
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    opacity: .95;
}