.section {
    position: relative;
}

.Bottle {
    position: absolute;
    bottom: 01%;
    left: 6%;
}

.Burger {
    position: absolute;
    top: 0;
    left: 0;
}

.Plate {
    position: absolute;
    right: 0%;
    bottom: 0%;
}